<p id="notice"><%= notice %></p>

<h1>Latest Posts</h1>

<div class="ui accordion">
  <% @posts.each do |post| %>
    <div class="title ui header">
      <i class="dropdown icon"></i>
      <%= post.title %>
    </div>
    <div class="content ui segment">
      <div class="transition hidden">
        <div class="ui grey ribbon label"><%= distance_of_time_in_words_to_now(post.created_at) %> ago by <%= post.user.username %></div>
        <br>
        <br>
        <div class="content large"><%= simple_format(post.content) %></div>

        <div class="ui comments">
          <% if post.comments.any? %>
            <h3 class="ui dividing header teal">Answers</h3>
            <% post.comments.each do |comment| %>
              <div class="comment">
                <div class="content">
                  <div class="text">
                    <%= comment.comment %>
                  </div>
                  <a class="author">by <%= comment.user.username %></a>
                  <div class="metadata">
                    <span class="date"><%= distance_of_time_in_words_to_now(comment.created_at) %> ago</span>
                  </div>
                  <% if comment.user.id == current_user.id %>
                    <div class="actions">
                      <%= link_to "edit", edit_post_comment_path(post, comment)%>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% else %>
            <h3 class="ui dividing header teal">No comments yet.</h3>
          <% end %>
          <h3 class="ui dividing header teal">Add a comment</h3>

          <%= form_for [post, @comment], html: {class: "ui form"} do |f| %>
            <div class="field">
              <%= f.label :comment %><br>
              <%= f.text_area :comment %>
            </div>
            <%= f.hidden_field :post_id, options = {value:post.id}%>
            <%= f.submit class:"ui button teal" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>
<% if !current_user.nil? %>
  <%= link_to 'New Post', new_post_path %>
<% end %>
